# Copy to .envrc and run `direnv allow`

export DATABASE_URL=postgres://localhost/__APP_SLUG___development
export REDIS_URL=redis://localhost:6379/0

# Optional: override individual database names
# export DB_NAME=__APP_SLUG___development
# export DB_TEST_NAME=__APP_SLUG___test

# Rails
# export RAILS_MAX_THREADS=3
# export RAILS_LOG_LEVEL=debug
# export PORT=3000
