require "test_helper"

class <%= class_name %>ControllerTest < ActionDispatch::IntegrationTest
<% actions.each do |action| -%>
  test "GET #<%= action %>" do
    get <%= routing_path %>
    assert_response :success
  end

<% end -%>
end
